<%- include('../layouts/header', {title: 'TaskNotes'}) %>
<%- include('../layouts/menu') %>
  

  <section class="section hero is-link is-fullheight-with-navbar">
    <div class="hero-body has-text-centered">
      <div class="container">
        <h1 class="title">
          TaskNotes
        </h1>
        <h2 class="subtitle">
          Gerenciando nossas atividades diária 
        </h2>
        <a href="/checklists" class="button is-light is medium"> Ir para a lista de atividades</a>
      </div>
    </div>
  </section>

<%- include('../layouts/footer') %>